rules_version = '2';

service firebase.storage {
    match /b/{bucket}/o {
        match /{allPath=**} {
            allow read, write: if request.auth != null;
        }
    }
}

service cloud.firestore {
    match /databases/{database}/documents {
    function isAuthorized() {
      return request.auth != null;
    }

    match /{document=**} {
      allow read, write, update: if isAuthorized();
    }

    match /users/id {
      allow read, write, update: if isAuthorized();
    }
  }
}